# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment
venv/
env/

# Ignore local development settings
settings_local.py

# Ignore database files
*.sqlite3
*.db

# Ignore static files
/static/

# Ignore media uploads
/media/

# Ignore log files
*.log

# Ignore generated documentation
/docs/_build/

# Ignore package build directories
*.egg-info/
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/
*.pydevproject
*.pyc

# Ignore sensitive or personal information
secret_key.txt
*.env

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore backup files
*.bak
*.swp
*~

# Ignore any other files or directories that are not necessary for version control
TicketRestAPI/tickets/migrations/
icketRestAPI/tickets/migrations/0001_initial.py
TicketRestAPI/tickets/migrations/0002_alter_ticket_date.py
TicketRestAPI/static/uploads/
TicketRestAPI/tickets/migrations/0001_initial.py
TicketRestAPI/tickets/migrations/0001_initial.py
TicketRestAPI/tickets/migrations/0001_initial.py
TicketRestAPI/media/uploads/admin_log_0hmUBTR.pdf
TicketRestAPI/media/uploads/admin_log_7fmIhMJ.pdf
TicketRestAPI/media/uploads/admin_log_AvYty6M.pdf
TicketRestAPI/media/uploads/admin_log_b8a6sL5.pdf
TicketRestAPI/media/uploads/admin_log_bayKTdj.pdf
TicketRestAPI/media/uploads/admin_log_BDo1ijF.pdf
TicketRestAPI/media/uploads/admin_log_h03DquW.pdf
TicketRestAPI/media/uploads/admin_log_ifXKPLR.pdf
TicketRestAPI/media/uploads/admin_log_iVl98iO.pdf
TicketRestAPI/media/uploads/admin_log_npRrEuG.pdf
TicketRestAPI/media/uploads/admin_log_OlojuhS.pdf
TicketRestAPI/media/uploads/admin_log_RF2BI70.pdf
TicketRestAPI/media/uploads/admin_log_TtDUEtY.pdf
TicketRestAPI/media/uploads/admin_log_ywngZvN.pdf
TicketRestAPI/media/uploads/admin_log_Ze1ZMUM.pdf
TicketRestAPI/media/uploads/admin_log.pdf
TicketRestAPI/media/uploads/admin_simao_log_avj9JAA.pdf
TicketRestAPI/media/uploads/admin_simao_log_byL3iJF.pdf
TicketRestAPI/media/uploads/admin_simao_log_cHfnG3W.pdf
TicketRestAPI/media/uploads/admin_simao_log_e3LIdvJ.pdf
TicketRestAPI/media/uploads/admin_simao_log_G44nnty.pdf
TicketRestAPI/media/uploads/admin_simao_log_j8oBMkW.pdf
TicketRestAPI/media/uploads/admin_simao_log_JaYRTiY.pdf
TicketRestAPI/media/uploads/admin_simao_log_lmJEwgn.pdf
TicketRestAPI/media/uploads/admin_simao_log_oWilPmn.pdf
TicketRestAPI/media/uploads/admin_simao_log_QnOE6BC.pdf
TicketRestAPI/media/uploads/admin_simao_log_qSxMwzu.pdf
TicketRestAPI/media/uploads/admin_simao_log_RpXydQa.pdf
TicketRestAPI/media/uploads/admin_simao_log_uoXNy4h.pdf
TicketRestAPI/media/uploads/admin_simao_log_VNoEGVW.pdf
TicketRestAPI/media/uploads/admin_simao_log_wQQyLRJ.pdf
TicketRestAPI/media/uploads/admin_simao_log.pdf
TicketRestAPI/media/uploads/patrick_seu_gay_2chihQ6.txt
TicketRestAPI/media/uploads/patrick_seu_gay_9NEv8Gw.txt
TicketRestAPI/media/uploads/patrick_seu_gay_64xkj9q.txt
TicketRestAPI/media/uploads/patrick_seu_gay_AxDMxdZ.txt
TicketRestAPI/media/uploads/patrick_seu_gay_DFO4aUW.txt
TicketRestAPI/media/uploads/patrick_seu_gay_diD7HmT.txt
TicketRestAPI/media/uploads/patrick_seu_gay_EprbWt7.txt
TicketRestAPI/media/uploads/patrick_seu_gay_Fb9u1lX.txt
TicketRestAPI/media/uploads/patrick_seu_gay_fctCNjH.txt
TicketRestAPI/media/uploads/patrick_seu_gay_qgoM20H.txt
TicketRestAPI/media/uploads/patrick_seu_gay_s7ejp9q.txt
TicketRestAPI/media/uploads/patrick_seu_gay_TpqNUzI.txt
TicketRestAPI/media/uploads/patrick_seu_gay_UyJEXBR.txt
TicketRestAPI/media/uploads/patrick_seu_gay_W1YBldu.txt
TicketRestAPI/media/uploads/patrick_seu_gay_wyiqLPb.txt
TicketRestAPI/media/uploads/patrick_seu_gay.txt
TicketRestAPI/media/uploads/simao_log_0rbawh2.pdf
TicketRestAPI/media/uploads/simao_log_5PALvw2.pdf
TicketRestAPI/media/uploads/simao_log_BJ6TFCp.pdf
TicketRestAPI/media/uploads/simao_log_blgYUZd.pdf
TicketRestAPI/media/uploads/simao_log_C4tLp8Q.pdf
TicketRestAPI/media/uploads/simao_log_fCoN0c3.pdf
TicketRestAPI/media/uploads/simao_log_IR1ABgK.pdf
TicketRestAPI/media/uploads/simao_log_kU65Wi1.pdf
TicketRestAPI/media/uploads/simao_log_lNyZGMp.pdf
TicketRestAPI/media/uploads/simao_log_OhuIDp0.pdf
TicketRestAPI/media/uploads/simao_log_PDb9upC.pdf
TicketRestAPI/media/uploads/simao_log_sUL2I2W.pdf
TicketRestAPI/media/uploads/simao_log_WkOVr14.pdf
TicketRestAPI/media/uploads/simao_log_xDDWo3w.pdf
TicketRestAPI/media/uploads/simao_log_xIZcBLS.pdf
TicketRestAPI/media/uploads/simao_log.pdf
